# ============================================
# Скопируйте этот файл в .env и заполните
# НИКОГДА не коммитьте .env в репозиторий!
# ============================================

# Токен бота от @BotFather
BOT_TOKEN=8207444766:AAHdeI96OvLao0wn7Sdjrj_uDVQXsyjHcjo
ALLOWED_USERNAMES=@username1,@username2